/* body {
  overflow-x:

} */
.hero {
  height: 100vh;
  /* width: 100vw; */
  object-fit: cover;
  /* margin-top: -5em; */


}
.portfolio-div{
  /* height: 90vh; */
  object-position: center;
  object-fit: scale-down;
  width: 50%;
}
.pinkrosie {
  width:50%;
}
.row {
  margin:0;
}

@media screen and (max-width: 600px) {
  .hero {
    height: 70vh;
    width: 100vw;
    object-fit: cover;
      z-index: -1;
  }
  .pinkrosie {
    object-fit: scale-down;
  }

}
